body {
  font-family: "Overpass", sans-serif;
  letter-spacing: 1px;
}
.grid {
  display: grid;
}
.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}
.grid-four-col {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
