
@media (max-width: 640px) {
    .phone-img {
        left: 5rem;
        bottom: 4rem;

    }
  }
@media (max-width: 768px) {
    label.hamburger{
        display: block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: relative;
    }
    .icon-close{
        display: none;

    }

    .nav-menu  {
        display: none;
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height:100%;
        background-color: rgba(0, 0, 0, 0.3);

        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        z-index: 1000;
    }

    .nav-menu ul {
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }
    .btn-singup {
        align-self: center;
    }

    /* Покажи менюто при чекнат чекбокс */
    #menu-toggle:checked ~ .nav-menu {
        display: flex;
    }

    /* Смени иконите */
    #menu-toggle:checked + label .icon-open {
        display: none;
    }
    #menu-toggle:checked + label .icon-close {
        display: block;


    }

    .logo{
        width: 5rem;
        height: 5rem;
    }

    .primary-header {
        font-size: 3rem;
    }
    .text {
        font-size: 1.4rem;
    }
    .logo-container {
        display: flex;
        justify-content: start;
        margin-bottom: 0.5rem;
    }
    .hero-content,
    .section-grid,
    .section-art,
    .footer-grid {
        grid-template-columns: 1fr !important;
    }

    .section-hero > .text-secondary {
        order: 1; /* Първо заглавието */
        width: 100%;
        text-align: center;
        margin-bottom:30rem;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hero-content-picture {
        order: 2; /* Второ картинката */
        position: relative;
        right: 10rem; /* Премахни отместването */
        top:3rem;
        transform: none;
        margin-bottom: 30rem;
        width: 100%; /* регулирай ширината ако е нужно */
        max-width: 600px;
    }

    .hero-content-text {
        order: 3; /* Трето текста */
        margin-top: 0;
        width: 100%;
        text-align: center;
        padding: 0 10rem;
    }
    .text-secondary {
        margin-bottom: 5rem;
    }


    .section-grid {
        background-color:  #3d3f61ff;
        margin-top: 0;
        border-radius: 0 0 0 10rem;
        margin-bottom: 10rem;
    }

    .art-content {
        justify-content: center; /* хоризонтално центриране */
        align-items: center;
        margin-top:0;
        padding:0;

    }
    .art-picture {
        border-radius: 0 10rem  0 0;
        margin-top: 5rem;
    }
    .phone-img {
        left: 5rem;
        bottom: 4rem;

    }

    .white{
        font-size: 1.4rem;
        padding:0 5rem ;
    }
    .art-picture {
        border-radius: 0 10rem 0 0;
    }

    .art-content {
        border-radius: 0 0 0 10rem;
        padding: 0 5rem ;
    }

    .art-content h3,
    p {
        margin-top: 5rem;
        text-align: center;
        font-size: 5rem;
    }

    .down {
        margin-top: 45rem;
    }

    .hero-content-picture {
        background-color: red;

    }
    .left {
        right: -6rem; /* край на секцията */
    }

    .logo-footer {
        margin-bottom: 5rem;
    }

    .list,
    .header-list {
        display: grid;
        place-items: center; /* центрира хоризонтално и вертикално */
        text-align: center;
    }
    .header-list {
        margin-bottom: 1rem;
    }
    .list {
        margin-bottom: 3rem;
    }
    .list li {
        line-height: 1.5;
    }
}

@media (max-width: 950px) {
    .nav-menu {
        gap: 5rem;
        padding:5rem 10rem;
    }
}

@media (max-width: 1280px) {
    .nav-menu {
       gap: 15rem;
        padding-left: 5rem;
    }
    .hamburger{
        display: none;
    }
    .hero-content,
    .section-grid,
    .section-art,
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-image {
        width:100%;
        position: absolute;
        right: -15rem; /* край на секцията */
        top: 40%; /* центриране по вертикала */
        transform: translateY(-50%);
    }
    .phone-img {
        left: 5rem;
        bottom: 4rem;
    }
    .text{
        line-height: 1.34;
    }
    .footer-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .logo-footer {
        padding-left: 2rem;
    }



}



/*@media (min-width: 1536px) {
    
 }*/
